<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kadek.gis">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GIS"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".ui.layer.ProgressActivity"
            android:exported="false"
            android:label="@string/job_progress"
            android:parentActivityName=".ui.area.ListDataAreaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".ui.area.ListDataAreaActivity"
            android:exported="false"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.layer.LayerWeather"
            android:exported="false"
            android:label="@string/weather"
            android:parentActivityName=".ui.area.ListDataAreaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.layer.LayerNDVI"
            android:exported="false"
            android:label="@string/ndvi"
            android:parentActivityName=".ui.area.ListDataAreaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.layer.LayerTaksasi"
            android:exported="false"
            android:label="@string/taksasi"
            android:parentActivityName=".ui.area.ListDataAreaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ui.SettingActivity"
            android:exported="false"
            android:label="@string/setting"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.GIS.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_maps"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>